/* index.css */
html{
	height:100%;
	background-color: #F4F4F4;
}
.spacing-16px{margin:8px;}
body {
	height:100%;
	margin: 0;
	font-family: 'Roboto', 'Oxygen',
    	'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    	sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: transparent;
}
p{
	margin:0;
}

#root{}
.page{
	/* position: absolute; */
	width:100%;
	height:100%;
	display:inline-block;
}

.animation-400{
	animation: 400 all ease-in-out;
	-webkit-animation: 400 all ease-in-out;
	-moz-animation: 400 all ease-in-out;
	-o-animation: 400 all ease-in-out;
}

.margin-auto{
	margin:auto
}
.marginTop-5pct{
	margin-top:5%;
}

.fullWidth{
	width:100%;
	background-color: transparent;
}
	.width-0Percent{
		width:0
	}
	.width-15percent{
		/* background-color: #0f0; */
		width:15%;
	}
	.width-85percent{
		width:85%;
	}
.floatLeft{
	float:left;
}
.floatRight{
	float:right;
}



code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

form{}
	.row{
	}
	
	.bootstrap-form div{
		margin:9px 0;
		padding-left:0;
	}

	/* information field (organize) */
		#form-information{
			margin:0;
		}

img{}
	.userImage{
		border-radius:100%;
	}